{% extends 'base.html' %}

<!-- Title -->
{% block title %} Elements of Category: {{ name }} {% endblock %}

<!-- Content -->
{% block content %}

<h2>Category: {{ name }}</h2>
<button id="view-category" name="{{ category_id }}">Return to Category</button>

{% if 'password' in request.cookies %}
<br />
<button id="add-element">Add Element</button>
{% endif %}

<br /><br />
<b>Elements</b>
<br /><br />
<div>
    {% for element in elements %}
    <div>
        {% for description in element %}
        <!-- For Each description -->

        {% if description is none %} --- {%else %} {{ description }}<br /><br />
        {% endif %}

        <!-- End For -->
        {% endfor %}
    </div>
    {% endfor %}
</div>

{% endblock %}
