<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %} | Archivist</title>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='style.css') }}"
        />
        <script
            src="https://code.jquery.com/jquery-3.7.0.min.js"
            integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
            crossorigin="anonymous"
        ></script>
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
    </head>
    <body>
        <h1>Archivist</h1>
        {% block content %}{% endblock %}
        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </body>
</html>
