{% extends 'base.html' %}

<!-- Title -->
{% block title %} Arhive: {{ archive_name }} {% endblock %}

<!-- Content -->
{% block content %}

<h2>Archive: {{ archive_name }}</h2>

{% if 'password' in request.cookies %}
<button id="disconnect">Disconnect from Archive</button>
{% else %}
<button id="view-index">Connect to Archive</button>
{% endif %}

<br /><br />
<button id="view-categories">View Categories</button>
<br />
<button id="view-documents">View Documents</button>
<br />
<button id="view-axes">View Axes</button>

{% endblock %}
